
/* ---------------------- Style the body --------------------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.bodyKontakt {
    background-image: url("../images/jonathan_FotografEmmaIvarsson-1\ \(1\).jpg");
    height: 3000px;
    background-size: cover;
}
/* ---------------------- Frontpage - logo/ Title --------------------------- */

.header {
    display: flex;
    background-image: url(../images/Skuruhatt_280919_-010.jpg);
    background-size: cover;
    justify-content: center;
    height: 750px;
    border-bottom: 1px solid #000;
}

.circle {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #fff;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    top: 25%;
    bottom: 25%;
}

.circle h1 {
    font-size: 70px;
    margin: 0;
}

.circle h4 {
    font-size: 30px;
    margin: 0;
}
/* ---------------------- Header all subpages --------------------------- */

.headerPortfolio, .headerAbout, .headerContact {
    display: flex;
    background-size: cover;
    position: relative;
    justify-items: center;
    padding-top: 300px;
    padding-bottom: 100px;
    border-bottom: 1px solid #000;
}

.title {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 200px;
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    color: white;
    position: absolute;
    top: 30%;
}
/* ---------------------- Header subpages --------------------------- */

/* --- PORTFOLIO --- */
.headerPortfolio {
    background-image: url(../images/portfolio1.jpg);
    background-position-x: 50%;
}


/* --- ABOUT --- */
.headerAbout {
    background-image: url(../images/About1.jpg);
    background-position-x: 50%;
}

.headerAbout h1 {
    font-size: 70px;
    text-align: center;
    color: white;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 25%;
}

/* --- CONTACT --- */
.headerContact {
    background-image: url(../images/Kontakt1.jpg);
    background-position-x: 60%;
}
/* ---------------------- Main navBar --------------------------- */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #000;
    border-right: 0px;
    border-left: 0px;
}

.navSelected {
    display: flex;
    justify-content: center;
    background-color: #ddd;
}

/* --- navigation bar links --- */
.navbar a {
    color: #000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
/* ---------------------- Left sidebar --------------------------- */

.side {
    display: flex;
    flex-direction: column;
    flex: 30%;
    background-color: #eaeaea;
    padding: 20px;
    border: 1px solid #000;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

.side h1 {
    margin-bottom: 0%;
    padding: 0%;
}

.side h5 {
    margin-top: 0%;
    padding: 0%;
}

.sideAbout {
    flex: 10%;
    background-color: #999898;
    height: 1000px;
}
/* ---------------------- Main section all pages --------------------------- */

.main {
    display: flex;
    flex-direction: column;
    flex: 70%;
    background-color: white;
    padding: 20px;
    border: 1px solid #000;
    border-left: 0px;
    border-right: 0px;
    align-items: center;
    height: 1000px;
}

.mainCol {
    display: flex;
    flex-direction: column;
    /*flex: 70%;*/
    background-color: white;
    padding: 20px;
    border: 1px solid #000;
    border-right: 0px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 162, 162);
    padding: 5px;
    margin: 1rem;
    border-radius: 25px;
    color: #fff;
}

.mainContainerPort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(162, 162, 162);
    padding: 7px;
    margin: 2rem;
    border-radius: 25px;
    color: #fff;
    width: 80%;
    align-items: center;
}

.mainContainerRow {
    display: flex;
    flex-direction:row;
    flex: 30%;
}

.mainContainerCol {
    display: flex;
    flex-direction:column;
    width: 60%;
    flex-grow: 2;
}

.mainContainerCol h4 {
    margin-bottom: 0;
    color: #000;
}

.mainContainerCol a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.main h2 {
    text-align: center;
}

span {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
}
/* ---------------------- Main subpages --------------------------- */

/* --- HOME --- */
.row {
    display: flex;
    flex-wrap: wrap;
}

.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
    
.circleProfile {
    background-image: url(../images/FotografEmmaIvarsson_200412_JA-28.jpg);
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    position: relative;
}

/* --- PORTFOLIO --- */
.imgPort {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content:flex-end;
}

.imgStallklubb {
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url(../images/ridlektion_ute.jpg);
    background-size: cover;
    justify-items: center;
    border-radius: 25px;
}

/* --- ABOUT --- */
.mainAbout {
    flex: 80%;
    background-color: #fff;
    padding: 20px;
}

.mainAbout h2, .mainAbout h4 {
    text-align: center;
}

/* --- CONTACT --- */
.mainKontakt {
    flex: 80%;
    background-color: #fff;
    padding: 20px;
}

.mainKontakt {
    text-align: left;
}
/* ---------------------- Footer --------------------------- */

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
/* ---------------------- Responsive layout --------------------------- */

@media screen and (min-width: 600px) {
    .row, .navbar {
        flex-direction: row;
    }

/* ---- Header all subpages ---- */
    .headerPortfolio, .headerAbout, .headerContact {
        display: flex;
        background-size: cover;
        position: relative;
        justify-items: center;
        padding-top: 300px;
        padding-bottom: 100px;
        border-bottom: 1px solid #000;
    }
    
    .title {
        display: flex;
        justify-content: center;
        justify-items: center;
        height: 200px;
        width: 100%;
        font-size: 35px;
        font-weight: 900;
        color: white;
        position: absolute;
        top: 20%;
    }

/* ---- Header subpages ---- */
    
/* --- PORTFOLIO --- */
    .headerPortfolio {
        background-image: url(../images/portfolio2.jpg);
    }
    
/* --- ABOUT --- */
    .headerAbout {
        background-image: url(../images/About1.jpg);
        background-position-y: 70%;
    }
    
    .headerAbout h1 {
        font-size: 70px;
        text-align: center;
        color: white;
        position: absolute;
        left: 25%;
        right: 25%;
        top: 5%;
        bottom: 25%;
    }

/* --- CONTACT --- */
    .headerContact {
    background-image: url(../images/Kontakt1.jpg);
    background-position-y: 85%;
}
}
@media screen and (min-width: 800px) {
    .headerPortfolio {
        background-image: url(../images/portfolio1000px.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
        background-position-y: 70%;
    }

    .headerContact {
        background-image: url(../images/Kontakt2.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
        background-position-y: 80%;
    }

    .title {
        font-size: 50px;
    }

    .headerAbout h1 {
        font-size: 120px;
    }

    .headerAbout {
        background-image: url(../images/About2.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .headerPortfolio {
        background-image: url(../images/portfolio1000px.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
    }

    .headerContact {
        background-image: url(../images/kontaktOriginal2.jpg);
        background-position-y: 75%;
    }

    .title {
        font-size: 50px;
    }

    .headerAbout h1 {
        font-size: 120px;
    }

    .headerAbout {
        background-image: url(../images/About2.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
    }
    
}

@media screen and (min-width: 1400px) {
    .headerPortfolio {
        background-image: url(../images/portfolio3.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
        background-position-y: 80%;
    }

    .headerContact {
        background-image: url(../images/kontaktOriginal2.jpg);
        background-position-y: 69%;
    }

    .title {
        font-size: 50px;
    }

    .headerAbout h1 {
        font-size: 120px;
    }

    .headerAbout {
        background-image: url(../images/About2.jpg);
        padding-top: 340px;
        padding-bottom: 250px;
        background-position-y: 60%;
    }
    
}